// sidebar.component.scss

$sidebar-bg-color: #282828;
$link-color: white;
$active-color: #1DB954;

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: $sidebar-bg-color;
  color: $link-color;
  padding-top: 20px;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 15px;
      text-align: center;

      a {
        color: $link-color;
        text-decoration: none;
        font-weight: bold;

        &.active {
          color: $active-color;
        }
      }
    }
  }
}
